{% extends 'base.html' %}

{% block title %} My Info {% endblock title %}

{% block body %} 
<div class="container-fluid pb-4 pt-0 px-0 img-center">
  <img src="https://source.unsplash.com/1200x400/?phone" class="d-block w-100 mx-0">
</div>
<div class="px-4 py-4 ">
  <div class="px-4 pb-4 text-center">
    <h1><b>Contact Us</b></h1>
  </div>
<form method="post" action="/contact_us">
{% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" name="name2" class="form-control" id="name" placeholder="Name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email2" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="mb-3">
    <label for="mobile" class="form-label">Mobile No.</label>
    <input type="number" name="mobile2" class="form-control" id="mobile" placeholder="Mobile No.">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <textarea class="form-control" name="desc2" id="desc" rows="3" placeholder="Description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}